.c8s{
    color: #e74c3c;
    background-color: #ecf0f1;
}

.light1{
    color: #636e72;
    background-color: #74b9ff;
    text-align: center;
}
.dark1{
    color:#ffbe76;
    background-color: #535c68;
    text-align: center;
}

.dark15{
    border: 1px solid black;
    background-color: #2f3640;
    color: #fbc531;
    padding: 10px;
    margin: 10px;
    text-align: center;
}